:root {
    --yellowHeadline: #fff64d;
    --darkYellowHeadline: #a8ac06;

    --yellowDarker: #f0e33f;
    --yellow: #fff360;
    --red: #e63a3a;
    --brown: #b47a3d;
    --blue: #7eb5e8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    height:100%;
    background-color: #1360D7; /* Fallback color for browsers that don't support gradients */
    background-image: -webkit-linear-gradient(top, rgba(27, 221, 228, 1) 0%, rgba(19, 96, 215, 1) 100%);
    background-image: -o-linear-gradient(top, rgba(27, 221, 228, 1) 0%, rgba(19, 96, 215, 1) 100%);
    background-image: linear-gradient(to bottom, #1BDDE4 0%, #1360D7 100%);
}
body{
    font-family: 'Comic Neue';
}
main{
    max-width: 1920px;
    margin: auto; 
    background-color: orange;
}
