:root {
    --yellowHeadline: #fff64d;
    --darkYellowHeadline: #a8ac06;

    --yellowDarker: #f0e33f;
    --yellow: #fff360;
    --red: #e63a3a;
    --brown: #b47a3d;
    --blue: #7eb5e8;
    --white: #FFFDFA;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #1BDDE4 0%, #1360D7 100%);
    background-attachment: fixed; /* prevents "white gap" when resizing */
}
html, body{
    height: 100%;
}
body{
    font-family: 'Comic Neue';
}
main{
    max-width: 1920px;
    margin: auto; 
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}
