article{
    max-width: calc(1920px / 1.5);
    margin: auto;
    background-color: var(--brown);
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .2rem;
    box-shadow: 5px 5px #916231;
    width: fit-content;
}
article h2{
    font-size: 1.75rem;
    color: black;
    background-color: var(--red);
    border-radius: 10px 10px 0 0;
    display: inline-block;
    padding: .5rem;
}
article p{
    font-size: 1.5rem;
    background-color: var(--blue);
    border-radius: 0 10px 10px 10px;
    padding: 1rem;
}