footer{
    background-color: var(--yellow);
    text-align: center;
    padding: .3rem;
    max-width: 1600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px #a8ac06;
    margin-top: 1rem;
}
footer p{
    font-size: 1.2rem;
    color: black;
}
