.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(10, 111, 205, 0.409);
    max-width: calc(1920px / 1.5);
    filter: drop-shadow(5px 5px 5px #056bd9);
    margin: auto;   
    border-radius: 10px;
}
.imageContainer{
    margin: 10px;
    max-width: 90vw;
    max-height: 600px;
}
.imageContainer img{
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
@media (min-width:601px){
    .imageTextContainer{
        max-height: 400px;
    }
}