nav{
    border-width: 2px 4px 2px 4px;
    border-radius: 10px;
    padding: .6rem;
    max-width: 1600px;
    margin: auto;
    filter: drop-shadow(5px 5px 5px #19aadeb8);
    background-color: rgba(22, 209, 241, 0.409);
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    background-color: transparent;
    padding: 1.5rem;
    box-shadow: 0 0 10px 1px #ffffff;
}
a:hover{
    transition: background-color 2s;
    transition: transform 0.3s;
    transform: scale(1.2);
}